body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0;
}

header {
    padding-bottom: 2%;
}

header, main{
    width: 62%;
    margin: 0 auto;
}

footer{
    background-color: #222222;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 10pt;
    color: #666666;
}

h1 div {
    float: left;
}

h3 {
    /*font-size: 0.9em;*/
    font-size: 11pt;
    margin-top: 5px;
}

time{
    /*font-size: 0.75em;*/
    font-weight: 500;
}

.about-post p, .about-post time{
    display: inline;
}

.about-post {
    font-size: 8pt;
}

.gray{
    color: #666666;
}

.blue:visited, .blue:link {
    color: #00aeef;
}

.blue:hover, .gray:hover{
    color: #00d6ef;
}

/******     HEADER       ******/

.logo-express { /* Express*/
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    letter-spacing: 6px;
}

.logo{ /* Blogs and Magazines*/
    font-size: 0.5em;
    color: #00aeef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: -145px;
    margin-top: 12px;
}

ul { /*additional navbar default padding (left)*/
    padding: 0;
}

.header-top { /*wrapping class for header without main navigation*/
    text-align:center;
}

.additional-navbar { /*small navbar*/
    display: inline-block;
    float: left;
    margin-top: 5%;
}

.additional-navbar li {
    display: inline;
    padding-right: 10px;

}

.additional-navbar a:link, .additional-navbar a:visited {
    color: #666666;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.site-logo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.socialbar{ /*social links in header*/
    display: inline-block;
    float: right;
    margin-top: 5%;
}

.socialbar li {
    display: inline;
    padding-right: 10px;
}

/*  Main navigation  */
nav {
    clear: both;
}

nav ul {
    border: thin solid #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav li{
    float: left;

}

nav li a { /*units in navbar + search button*/
    display: block;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

nav li a:hover, nav a:visited, nav a:link {
    color: #636363;
}

nav li a:active {
    background-color: #00aeef;
    color: #ffffff;
}

.search { /*search button in main navigation*/
    float: right;
    display: block;
    padding: 12px 18px;
    background-color: #ffffff;
    border: none;
}

/**************          MAIN            ***************/

/*Slider*/
.slider {
    background-color: #222222;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.slider h2{

}

.slider h3 {
    font-size: small;
}

.slider-big-article {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider-big-article img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.slider-big-article h2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.slider-big-article p{
    position: absolute;
    bottom: 8%;
    left: 5%;
}

.slider-big-article time{
    position: absolute;
    bottom: 8%;
    left: 5%;
}*/

.slider-big-article .article-desc{
    position: absolute;
    left: 7%;
    bottom: 10%;
    z-index: 10;
}

.slider-side-articles{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    justify-content: space-between;
}

.slider-side-articles article{
    margin: 5px 0;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
}

.slider-side-articles time,  .slider-side-articles p {
    font-size: 7pt;
    margin: 0;
    /*display: inline;*/
}

.slider-side-articles article img{
    float: left;
    align-self: center;
    object-fit: cover;
    margin: 0 10px;
    width: 165px;
    height: 90px;
    background-image: url("/article-img/img-placeholder-small-slider.png");
}


.slider-side-articles .post-data{
    /*display: inline-block;*/
    /*padding-left: 5%;*/
    /*position: relative;*/
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.post-data .h3 {
}

/***  COMMON ELEMENTS  ***/

.read-more-button{
    background-color: #00aeef;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* World News */

.world-news{
    margin-bottom: 40px;
    float: left;
    width: 100%; /*for IE*/
}

.category-head {
    font-size: 1.1em;
    display: inline;
    border-left: thick solid #00aeef;
    padding-left: 1.1em;
} /*h2 class for category head*/

.head-header{
    border-bottom: thin solid #00aeef;
}

.underline{
    border-bottom: thin solid #00aeef;
    width: 48%;
    margin-left: 16%;
    margin-top: -5px;
} /*underline in head*/

.category-nav{
    list-style-type: none;
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
} /*navigation buttons in head*/

.category-nav li{
    float: left;
    padding-left: 10px;
}

.category-nav li a{
    text-decoration: none;
    margin: 10px;
    font-size: 0.8em;
    color: #666666;
}

.category-nav li a:hover{
    color: #00aeef;
    font-weight: 600;
}

.category-nav button {
    border: none;
    float: right;
    background-color: transparent;
} /*right & left arrow button*/

.category-nav .category-nav-button-left{
    margin-left: 20px;
}

/*World News big posts*/

.big-post-container{
    display: inline-flex;
    padding-top: 30px;
    width: 100%;
}



.world-news .big-post{
    margin: 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    border-bottom: thin solid #dddddd;
    justify-content: center;
} /*big posts in World News category*/

.world-news .big-post:nth-child(2){
    margin: 0 10px;
} /*second big post, used for margin between posts*/

.world-news .big-post-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.world-news .big-post-image img{
    /*object-fit: cover;*/
    /*width:100%;*/
    /*height: 200px;*/

}

.world-news .big-post header{
    width: 100%;
}

.big-post button{
    display: block;
    margin: 20px 0;
}

.big-post button:active{

}
/*small posts*/
.small-post-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.small-post-row-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}


.world-news-article-small{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
}

.world-news-article-small:nth-child(2){
    margin: 0 10px;
}

.small-post-img-container{
    width: 100px;
    height: 100px;
    background-image: url("/article-img/img-placeholder-small.png");
    margin-right: 10px;
}

.small-post-img-container img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.underline-big{
    border-bottom: thin solid #dddddd;
    margin-top: 10px;
}

/*** Fashion ***/
.fashion{
    /*margin-bottom: 40px;*/
}

.fashion .category-header{
    margin-bottom: 40px;
}

.fashion .underline{
    margin-left: 12%;
    width: 75%;
}

.fashion .big-post-image {
    object-fit: cover;
    width: 33%;
    height: 200px;
    margin-right: 30px;
}

.fashion .post-header{
    min-height: 100%;
    position: relative;
}

.fashion article{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.fashion .read-more-button{
    position: absolute;
    bottom: 5px;
    left: 0;
}
/** With Aside **/
.with-aside-blocks-container{
    display: flex;

}

.left-column-blocks{
    width: 67.5%;
}

/*** LIFESTYLE ***/

.lifestyle {
    margin-top: 40px;
    padding-right: 20px;
}

.lifestyle .post-preview-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.lifestyle .post-preview-big{
    position: relative;
    min-width: 220px;
    width: 58%;
    color: #ffffff;
    flex-grow: 2;
}

.lifestyle .post-preview-big img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-image: url('/article-img/img-placeholder-lifestyle.png');
}

.lifestyle .post-preview-big .description{
    position: absolute;
    left: 10px;
    bottom: 5px;
    z-index: 10;
}

.lifestyle .post-preview-small{
    flex-shrink: 2;

}

.lifestyle .post-preview-small img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    background-image: url('/article-img/img-placeholder-small.png');
    margin: 0 10px;
}



.lifestyle .post-preview-big .description{

}

.lifestyle .post-preview-small article{
    display: flex;
    flex-direction: row;
}

.lifestyle .post-preview-small article:nth-child(2){
    margin: 10px 0;
}


/**  Resent Posts **/

.recent-posts{
    margin-top: 40px;
    border-bottom: thin solid #dddddd;
}

.recent-posts h2{
    margin-left: 30px;
}
.recent-posts article{
    display: flex;
    margin: 10px 0 5px 30px;
    padding-bottom: 10px;
    border-bottom: thin solid #dddddd;
}

.recent-posts article:last-child{
    border: none;
}

.recent-posts img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    background-image: url('/article-img/img-placeholder-small.png');
    margin-right: 10px;
}

/*** ASIDE ***/

aside {
    border-left: thin solid #dddddd;
}

/*Categories*/

.categories{
    margin-top: 40px;
}

.categories h2, .categories .ad-img{
    margin-left: 30px;
}

.categories-list{
    list-style: none;
    font-weight: 600;
    font-size: 10pt;
    margin: 30px 0 30px 30px;
}


.categories-list li{
    margin: 10px 0;
    border-bottom: thin solid #dddddd;
    padding-bottom: 10px;
}

.categories-list a{
    display: inline;
}

.categories-list .right{
    float: right;
}